.wrap-authorization {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 80px;
	text-align: center;
}

.wrap-authorization:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.authorization {
	display: inline-block;
	vertical-align: middle;
	width: 590px;
	margin: 50px;
	border-radius: 5px;
	background-color: #eff3f7; 
	box-shadow: 0px 3px 10px 0px #bec0be;
}

.authorization-title {
	padding: 24px 0;
	text-align: center;
	border-bottom: 15px solid #67dffa;
	font-family: "fira_sansregular", "Arial", sans-serif;
	font-size: 40px;
	font-weight: normal;
	border-radius: 5px 5px 0 0;
	color: #fff;
	background-color: #48cbe8;
}

.wrap-form-authorization {
	padding-top: 25px;
}

.authorization-form {
	width: 422px;
	margin: 0 auto;
}

.input-block {
	width: 422px;
	margin-bottom: 20px;
	text-align: center;
}


.authorization-form-label {
	font-family: "fira_sansbook", "Arial", sans-serif;
	font-size: 36px;
	color: #959aa8;
}

.authorization-form-input {
	width: 96%;
	border: 1px solid #82b2c2;
	margin-top: 6px;
	padding-top: 19px;
	padding-bottom: 20px;
	padding-left: 15px;
	font-size: 17px;
	font-weight: 300;
	border-radius: 3px;
	color: #82b2c2;
}

.authorization-form-input::-webkit-input-placeholder {
	color: #82b2c2;
	background-color: #fdd5d2;
}

.authorization-form-input::-moz-placeholder { 
	color: #82b2c2;
	background-color: #fdd5d2;
}

.btn-block {
 text-align: center;
}

.btn-login {
	position: relative;
	border: medium none;
	outline: 0px none;
	width: 227px;
	margin-bottom: 25px;
	margin-top: 16px;
	padding: 4px 0;
	font-family: "fira_sansbook", "Arial", sans-serif;
	font-size: 36px;
	border-radius: 5px;
	color: #fff;
	background: #48cbe8 none repeat scroll 0% 0%;
	box-shadow: inset 0px -3px 0 0 #3ba8c0;
}

.btn-login:hover {
	top: 1px;
	box-shadow: none;
}  

.btn-login:active {
	top: 3px;
	box-shadow: inset 0px 3px 0 0 #3ba8c0;
}