.write-me {
	width: 650px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #eff3f7;
}

.write-me-title {
	padding: 45px 0;
	text-align: center;
	border-bottom: 17px solid #67dffa;
	font-family: "fira_sansbook", "Arial", sans-serif;
	font-size: 27px;
	font-weight: normal;
	border-radius: 5px 5px 0 0;
	color: #fff;
	background-color: #48cbe8;
}

.wrap-form {
	padding: 0 125px;
	padding-top: 42px;
	padding-bottom: 200px;
}

.input-block {
	margin-bottom: 11px;
}

.input-name-block,
.input-email-block {
	width: 190px;
}

.write-me-form-label {
	font-size: 19px;
	font-family: "fira_sansbook", "Arial", sans-serif;
	color: #959aa8;
}

.pswd-label {
	font-size: 17px;
}

.write-me-form-input {
	border: 1px solid #48cbe8;
	border-radius: 3px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 10px;
	width: 97%;
	font-size: 13px;
	font-weight: 300;
	color: #48cbe8;
}

.pswd-input {
	margin-top: -3px;
	padding-top: 3px;
}

.write-me-form-input::-webkit-input-placeholder { 
	color: #48cbe8;
}

.write-me-form-input:-moz-placeholder {
	color: #48cbe8;
}

.captch-block {
	width: 400px;
	margin-bottom: 15px;
} 

.captch {
	display: inline-block;
	vertical-align: middle;
}

.captch-pic {
	overflow: hidden;
	width: 48%;
	margin-right: 3%;
	height: 80px;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	text-align: center;
	background-color: #FFF;    
}

.captch-pic-code {
	padding-top: 20px;
}

.captch-pswd {
	width: 47%;
}

.btns-block {
	width: 402px;
}

.btn {
	position: relative;
	border: medium none;
	outline: 0px none;
/* 	width: 137px; */
	height: 35px;
	padding: 0px 18px;
	font-family: "fira_sansbook", "Arial", sans-serif;
	font-size: 19px;
	border-radius: 4px;
	color: #fff;
}
 		
.btn-submit {
	background: #48cbe8 none repeat scroll 0% 0%;
	box-shadow: inset 0px -3px 0 0 #3ba8c0;
}

.btn-reset {
	background: #849db5 none repeat scroll 0% 0%;
	box-shadow: inset 0px -3px 0 0 #687b8f;
}

.btn-submit:hover,
.btn-reset:hover {
	top: 1px;
	box-shadow: none;
}  

.btn-submit:active {
	top: 3px;
	box-shadow: inset 0px 3px 0 0 #3ba8c0;
} 

.btn-reset:active {
	top: 3px;
	box-shadow: inset 0px 3px 0 0 #687b8f;
}