html, 
body {
  height: 100%; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: #4a545d;
  background: #fbfcfd  url(../img/bg.png) center;
}

h2 {
  margin: 0;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.content-container {
  width: 960px;
  margin: 0 auto;
}

/* p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 0px;
  line-height: 0px;
} 
 */

/* ===================== HEADER =================== */

.main-header {
  margin-bottom: 40px;
  padding: 30px 0;
  background-color: #eff3f7;
}

.logo {
  width: 420px;
}

.social {
	width: 420px;
	text-align: right;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 47px;
  height: 47px;
  margin-left: 20px;
  font-size: 0;
  text-decoration: none;
}

.social-btn-vk {
  background: url(../img/spritesheet.png) no-repeat -230px -144px;
}

.social-btn-vk:hover {
  background: url(../img/spritesheet.png) no-repeat -10px -211px;
}

.social-btn-tw {
  background: url(../img/spritesheet.png) no-repeat -220px -10px;
}

.social-btn-tw:hover {
  background: url(../img/spritesheet.png) no-repeat -211px -77px;
}

.social-btn-fb {
  background: url(../img/spritesheet.png) no-repeat -153px -10px;
}

.social-btn-fb:hover {
  background: url(../img/spritesheet.png) no-repeat -10px -77px;
}

.social-btn-git {
  background: url(../img/spritesheet.png) no-repeat -77px -77px;
}

.social-btn-git:hover {
  background: url(../img/spritesheet.png) no-repeat -144px -77px;
}

.main-header:after {
	width: 100%;
	height: 3px;
	text-align: center;
	background: url(../img/gradient-border.png) no-repeat;
}

/* ===================== CONTENT-BLOCK =================== */

.content {
  min-height: 100%;
}

.left-block {
  width: 250px;
  margin-right: 60px;
}

.navigation {
	margin-bottom: 23px;
}

.main-navigation,
.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-i a {
  display: block;
  position: relative;
	padding: 25px 30px;
  font-size: 21px;
  text-decoration: none; 
  color: #959aa8;
  background-color: #eff3f7;
}

.navigation-i a:before {
	content: "";
	position: absolute;
	top: -2px;
	left: 10px;
	right: 10px;
	height: 2px;
	background-color: #3ba8c0;
}

 .navigation-i:first-child a:before,
 .main-navigation .active:before {
	background: none;
}

.main-navigation .active {
  font-size: 23px;
  color: #fff;
  background-color: #3ba8c0;
}

.navigation-i a:not([class="active"]):hover {
  color: #3ba8c0;
}

.navigation-i:first-child a,
.contact-list-i:first-child h2 {
  border-radius: 4px 4px 0 0;
}

.navigation-i:last-child a,
.contact-list-i:last-child a {
  border-radius: 0 0 4px 4px;
}

/* contact block */

.contact-title {
	padding-left: 19px;
	padding-top: 11px;
	padding-bottom: 4px;
	font-size: 21px;
	font-weight: 400;
	color: #fbfcfd;
	background-color: #3ba8c0;
}

.contact-details {
	display: block;
	padding: 10px 5px;
	text-decoration: none;
	color: #fff;
}

.contact-details:hover {
	text-decoration: underline;
}

.contact-details-text {
	position: relative;
	margin-left: 83px;
}

.contact-details-text:before {
	content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  background: transparent url(../img/spritesheet.png) no-repeat -112px -10px;
}

.message {
	background-color: #41b9d4;
}

.tel {
	background-color: #48cbe8;
}

.skype {
	background-color: #51daf8;
}

/* personal info block */

.about-me {
  width: 650px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #eff3f7;
}

.title {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-top: 16px;
  padding-right: 20px;
  font-size: 27px;
  font-weight: 400;
  color: #3ba8c0;
  border-bottom: 2px solid #3ba8c0;
}

.about-me-list-i{
  position: relative;
  list-style: none;
}

.avatar {
	overflow: hidden;
	width: 142px;
	height: 142px;
	margin-top: 35px;
	margin-right: 25px;
	margin-left: 55px;
	border-radius: 50%;
	border: 5px solid #189cb6;
}

.personal-info {
	width: 400px;
}

.personal-info-i {
	margin-bottom: 13px;
	list-style: none;
}

.personal-info-text {
  font-weight: 500;
}

.personal-info-text span {
  font-size: 15px;
  font-weight: 400;
}

.skils {
	width:170px;
	margin-left: 21px;
}

 .skils-list {
	display: inline;
  padding: 0;
  list-style: none;
} 

.skils-i {
	display: inline-block;
 	vertical-align: top;
 	margin-right: 8px;
 	padding: 5px 10px;
 	font-size: 14px;
 	background-color: #3ba8c0;
 	color: #fff;
 	border-radius: 2px;
 	box-shadow: inset 0px -15px 0 0 #2e8ca2;
}

.about-me-list {
	margin-left: 85px;
}

.about-me-list p {
  margin: 0;
}

.about-me-list span {
 	font-size: 15px;
 	font-weight: 300;
}

.about-me-list-i:not(:last-child) {
	position: relative;
	margin-bottom: 18px;
}

.icon {
  display: block;
  position: absolute;
  left: -68px;
}

.icon-bag {
  height: 34px;
  width: 36px;
  background: url(../img/spritesheet.png) -10px -10px no-repeat;
}

.icon-hat {
  height: 23px;
  width: 41px;
  background: url(../img/spritesheet.png) -10px -144px no-repeat;
}

.icon-doc {
  height: 32px;
  width: 26px;
  background: url(../img/spritesheet.png) -66px -10px no-repeat;
}

/* ===================== FOOTER =================== */

.main-footer {  
  height: 80px;
  padding-top: 38px;
  margin-top: 10px;
  color: #4a545d;
  background-color: #eff3f7;
}

.login-lock {
	display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 32px;
  margin-left: 150px;
  margin-right: 233px;
  font-size: 0;
  text-decoration: none;
	background: url(../img/spritesheet.png) -71px -144px no-repeat;
}

.login-lock:hover {
	background: url(../img/spritesheet.png) -190px -144px no-repeat;
}

.copyright {
	font-size: 13px;
	font-weight: 300;
}