/* ===================== MY-WORKS =================== */
.wrap-sites {
	margin-top: 20px;
}

.sites-list {
	margin: 0;
	padding: 0;
	list-style: outside none none;
}

.sites-i {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 60px;
	margin-left: 20px;
	width: 188px;
	text-align: center;
}

.site-pic {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	width: 183px;
	height: 127px;
	margin-bottom: 8px;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
	background-color: #4091bb;
}

.site-pic:hover .site-naming{
  opacity: 1;
}

.site-pic:hover .site-naming-link {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.site-photo {
	width: 100%;
	height: 100%;
}

.site-naming {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(65, 145, 187, 0.75) none repeat scroll 0% 0%;
	transition: all 0.5s ease-in-out;
}

.site-naming-link {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 7px;
	border: 2px solid #eff3f7;
	font-size: 12px;
	text-decoration: none;
	color: #eff3f7;
	opacity: 0;
	border-radius: 6px;
	transform: scale(0);
	transition: all 0.5s ease-in-out;
}

.site-address {
	text-decoration: none;
	font-family: "fira_sanslight_italic", "Arial", sans-serif;
	font-size: 13px;
	color: #3ba8c0;
}

.site-description {
	font-size: 15px;
	color: #4a545d;
}

.add-new-work {
	display: block;
	border: 1px dashed #7cc3d4;
	text-decoration: none;
	background: #edf8fc none repeat scroll 0% 0%;
}

.add-new-work:before,
.site-naming:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.add-new-work-text {
	display: inline-block;
	vertical-align: middle;
  padding-top: 40px;
  font-size: 13px;
  font-weight: 400;
  color: #3ba8c0;
  background: transparent url(../img/add-work-pic.png) no-repeat scroll center top;
}

/* ===================== POPUP =================== */

 #popup-block {
	display: none;
} 

.wrap-popup-block {
	width: 362px;
	border-radius: 5px;
	box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
	background: #eff3f7 none repeat scroll 0% 0%;
}

.popup-header {
	position: relative;
	padding-top: 6px;
	padding-left: 13px;
	padding-bottom: 2px;
	border-bottom: 9px solid #67dffa;
	border-radius: 5px 5px 0px 0px;
	background: #48cbe8 none repeat scroll 0% 0%;
}

.close {
	position: absolute;
	right: 12px;
	top: 10px;
	height: 25px;
	width: 25px;
	background: transparent url(../img/close-pic.png) no-repeat scroll 0% 0%;
}

.popup-title {
	font-family: "fira_sansregular", "Arial", sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: #fff;
}

.wrap-popup-form {
	padding: 7px 22px;
}

.response-alert {
	display: none;
	box-sizing: border-box;
	width: 100%;
	/* margin-bottom: 6px; */
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 12px;
}

.error-alert {
	background-color: #f2cccd;
	color: #f97e76;
}

.success-alert {
	background-color: #b8e1ce;
	color: #49bb7b;
}

.input-block {
	margin-bottom: 12px;
}

.popup-form-label {
	font-family: "fira_sansbook", "Arial", sans-serif;
	font-size: 17px;
	color: #959aa8;
}

.popup-form-input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 1px solid #48cbe8;
	font-size: 13px;
	font-weight: 400;
	border-radius: 4px;
	color: #48cbe8;
	background-color: #fff;
	outline: medium none;
}

.uploadfile-wrap {
	position: relative;
	width: 100%;
}

.span-label {
	font-family: "fira_sansbook", "Arial", sans-serif;
	font-size: 17px;
	color: #959aa8;
}

.uploadfile-label {
	display: block;
	position: absolute;
	right: 0px;
	width: 52px;
	height: 42px;
	background: #48cbe8 url(../img/upload-file-pic.png) no-repeat scroll 10px 7px;
	border-radius: 0px 4px 4px 0px;
}

.fileupload {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0px;
	border: 0px none;
	clip: rect(0px, 0px, 0px, 0px);
}

.btn-block {
	text-align: center;
}

.btn {
	position: relative;
	border: medium none;
	outline: 0px none;
	height: 33px;
	padding: 0px 20px;
	font-family: "fira_sansbook", "Arial", sans-serif;
	font-size: 19px;
	border-radius: 4px;
	color: #fff;
}
 		
.btn-submit {
	background: #48cbe8 none repeat scroll 0% 0%;
	box-shadow: inset 0px -3px 0 0 #3ba8c0;
}

.btn-submit:hover {
	top: 1px;
	box-shadow: none;
}  

.btn-submit:active {
	top: 3px;
	box-shadow: inset 0px 3px 0 0 #3ba8c0;
} 
